
#text{
  height: 25px;
  border-radius: 5px;
  padding: 4px;
  border: solid thin #aaa;
  background-color: whitesmoke;
}
#button{
  padding: 10px;
  width: 100px;
  color:black;
  background-color: yellow;
  border: 7px;;
  border-radius: 15%;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);
}
#box{
  background-color: white; 
  color: black;
  margin: auto;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  
}
.popupcontent{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px; /* set a fixed height */
  width: 500px;
  overflow-y: scroll; /* enable vertical scrolling */
  padding: 10px;
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; /*opacity: 0;*/
  pointer-events: none;
  transition: visibility 0.5s; /*opacity*/

  animation: transitionOut 0.5s;

  
}

.popup.is-active {
  visibility: visible; /*opacity: 2;*/
  pointer-events: all;
  animation: transitionIn 0.5s; 
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(0, 0 ,0 , 0.5 );

}

.popup-inner {
  position: relative;
  z-index: 3;
  box-shadow: 0px 3px 6px rgba(0,0,0, 0.1);
  align-items: center;
  justify-content: center;
}


@keyframes transitionIn {
  from {
    
    transform: translateY(100%);
  }
  to {
    
    transform: translateY(0);
  }
}
  
@keyframes transitionOut {
  from {
    
    transform: translateY(0);
  }
  to {
    
    transform: translateY(100%);
  }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#specialbox{
  background-color: white; 
  color: black;
  margin: auto;
  width: 600px;
  height: 600px;
  padding: 0px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.nav-btn {
  margin: 0 10px;
}

.section {
  display: none;
  
}

.section.active {
  display: block;
}

.popup-content::-webkit-scrollbar {
  width: 0.5em; /* width of scrollbar */
}
.popup-content::-webkit-scrollbar-thumb {
  background-color: white; /* color of scrollbar */
}
.sec-content{
  background-color: #ededed;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #e4e4e4;
}
.content-inner{
  display:flex;
  border-radius: 2px;
}
.content-inner :hover + .content-inner.div{
  background-color: #818181;
}

/*======================================================================================

.transition-fade {
  animation: transitionIn 8000ms;
}

.transition-fadeOut{
  position: fixed;
  opacity: 1;
} 

@keyframes transitionIn {
  from {
    
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    
    opacity: 2;
    visibility: inherit;
    transform: translateY(0);
  }
}

@keyframes transitionOut {
  from {
    opacity: 1;
    /*transform: translateX(0);*
  }
  to {
    opacity: 0;
    /*transform: translateX(-100%); *
  }
} 



/*  ====================================================================================================
.transition-fade {
  opacity: 1;
   /* transition: opacity 1s ease-in-out; *
   transition: 500ms;
   transform: translateX(0);
   transform-origin: left;

}
 html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0);
}
*/

/*
.transition-swipe {
     transition: 500ms;
     transform: translateY(0);
     transform-origin: left;
  
  }
   html.is-animating .transition-swipe {
    transform: translateY(100%);
  }
  */

  